<div class="d-flex flex-wrap" mat-dialog-title style="margin: unset; padding: 1px 10px 1px 28px">
    <button mat-icon-button aria-label="Close the dialog" (click)="closeDialog()" class="ml-auto">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div class="container">
        <h2>Nhập ngày bạn muốn gia hạn thêm</h2>
        <mat-form-field appearance="fill"  class="form-field">
            <mat-label>Thời gian gia hạn thêm</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerCustomIcon" placeholder="Choose a date"
              [(ngModel)]="chooseDate" required [min]="minDate">
            <ngx-mat-datepicker-toggle matSuffix [for]="pickerCustomIcon"></ngx-mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerCustomIcon [showSpinners]="true" [stepHour]="1"
              [stepMinute]="15" [showSeconds]="false" [touchUi]="false" [enableMeridian]="false">
              <ngx-mat-datepicker-actions>
                <button mat-button ngxMatDatepickerCancel>Hủy</button>
                <button mat-raised-button color="primary" ngxMatDatepickerApply>Đồng ý</button>
              </ngx-mat-datepicker-actions>
            </ngx-mat-datetime-picker>
          </mat-form-field>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button nbButton [disabled]="!chooseDate" class="ml-auto" status="primary" (click)="extendPayment()"><nb-icon icon="credit-card-outline"></nb-icon>Gia hạn</button>
</div>