:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(100vh - 2 * #{$auth-layout-padding});
  }

  nb-card-body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  nb-card {
    background-image: url('../../../../../assets/images/team.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px) !important;
  }

  nb-auth-block {
    padding: 30px;
    background-color: #fefefe;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15)
  }

  //   nb-layout-column {
  //     padding: 0 !important;
  //     margin: auto;
  //     height: 100%;
  //   }
}