<div class="container px-5 fix-section">
  <!-- Contact form-->
  <div class="bg-light rounded-4 py-5 px-4 px-md-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
          class="bi bi-envelope"></i></div>
      <h1 class="display-5 fw-bolder"><span class="text-gradient d-inline">Tạo công việc mới</span></h1>
      <p class="lead fw-normal text-muted mb-0">Cùng nhau tạo thật nhiều công việc!</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form [formGroup]="frmCreateWork" (ngSubmit)="saveData()">
          <div class="form-floating mb-3">
            <input class="form-control" matInput formControlName="workName" type="text" placeholder="Enter your name..."
              data-sb-validations="required" />
            <label for="name">Tên công việc</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" matInput formControlName="workTypeId" type="text"
              placeholder="Enter your name..." data-sb-validations="required" />
            <label for="email">Loại công việc</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <mat-form-field appearance="fill">
              <mat-label>Loại công việc</mat-label>
              <mat-select>
                <mat-option *ngFor="let workType of listWorkType" [value]="workType.workTypeName">
                  {{workType.workTypeName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" matInput formControlName="quantity" type="text" placeholder="Enter your name..."
              data-sb-validations="required" />
            <label for="phone">Số lượng người cần</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" matInput formControlName="workHours" type="text"
              placeholder="Enter your name..." data-sb-validations="required" />
            <label for="message">Thời gian làm việc</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" matInput formControlName="workAddress" type="text"
              placeholder="Enter your name..." data-sb-validations="required" />
            <label for="message">Địa chỉ công việc</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" matInput formControlName="workName" type="text" placeholder="Enter your name..."
              data-sb-validations="required" />
            <label for="message">Hoa hồng nhận được</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" matInput formControlName="workDescription" type="text"
              placeholder="Enter your name..." data-sb-validations="required" />
            <label for="message">Mô tả công việc</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <div class="d-grid"><button mat-button class="btn btn-primary btn-lg" type="submit"
              (click)="saveData()">Submit</button></div>
        </form>
      </div>
    </div>
  </div>
</div>