<div class="base-container">
    <app-toolbar (onRefresh)="refreshData($event)" (onDeletes)="onClickDeletes($event)" [selectedCout]="ngxTable?.selected.length"
    [addEditComponent]="addEditComponent" (addEvent)="successEventAdd($event)"></app-toolbar>
    <mat-divider></mat-divider>
    <app-ngx-table #ngxTableUser [columnsTable]="columns" (onRefresh)="refreshData($event)"
    [addEditComponent]="addEditComponent" (editEvent)="successEventEdit($event)" (onDelete)="onClickDelete($event)"></app-ngx-table>
</div>

<ng-template #showRating let-row="row">
    <ng-container *ngIf="row?.role === 'User'">
        <app-rating-star style="display: flex; justify-content: center;" [profileId]="row"></app-rating-star>
    </ng-container>
</ng-template>
