<p-toast position="bottom-right" key="toast1"></p-toast>
<!-- Header-->
<header class="py-5">
  <div *ngIf="isIntro" class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
      <div class="col-xxl-5">
        <!-- Header text content-->
        <div class="text-center text-xxl-start">
          <!-- <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Design &middot; Development &middot; Marketing</div></div> -->
          <div class="fs-3 fw-light text-muted">Đảm bảo hoàn thành công việc với</div>
          <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">người giúp việc hàng đầu</span></h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/add-edit-work">Tạo công việc</a>
            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/work-list">Tìm công việc</a>
          </div>
        </div>
      </div>
      <div class="col-xxl-7">
        <!-- Header profile picture-->
        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
          <div class="bg-gradient-primary-to-secondary" style="border-radius: 30px;">
            <video width="600" autoplay muted style="border-radius: 20px;">
              <!-- <source src="../../../../assets/videos/intro_header_2.mp4" type="video/mp4"> -->
              Your browser does not support HTML video.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <h1 style="text-align: center;">Các công việc được quan tâm nhiều nhất</h1>
  <div class="container px-4 px-lg-5 mt-5" style="text-align: center;">
    <div class="row gx-4 gx-lg-5 justify-content-center" *ngFor="let work of listWork">
      <nb-card class="cardContext">
        <nb-card-header class="work-header">
          <div class="row" style="text-align: left;">
            <span (click)="openWorkDetail(work)" style="cursor: pointer; color: rgb(0, 102, 255);">{{work?.workName}}</span>
            <span>
              <nb-icon icon="star-outline"></nb-icon>
              <nb-icon icon="star-outline"></nb-icon>
              <nb-icon icon="star-outline"></nb-icon>
              <nb-icon icon="star-outline"></nb-icon>
              <nb-icon icon="star-outline"></nb-icon>
              <strong (click)="openUserDetailDialog(work?.createdById)" style="margin-left: 5px; color: #fd6333; cursor: pointer;">
                {{work?.createdBy?.firstName}} {{work?.createdBy?.lastName}}
              </strong>
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid" style="background-color: #dedede; padding: 10px;">
              <span>{{work?.workProvinceName}} | {{work?.workProfit}} VNĐ</span>
              <form>
                <span class="navbar-text">
                  Hạn nhận đăng ký: {{work?.timeLine}}
                </span>
              </form>
            </div>
          </nav>
        </nb-card-body>
        <nb-card-footer>
          <div class="limit-work-description" style="text-align: left; margin-bottom: 10px;" [innerHTML]="work?.workDescription">
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div style="text-align: left;">
              <span class="badge badge-pill badge-primary" style="font-size: 12px"
              [style.background-color]="'#00a339'"> {{handleDisplayWorkType(work?.workTypeId)}} </span>
            </div>
            <div style="text-align: right;">
              Đã ứng tuyển: {{work?.workApply?.length > 0 ? work?.workApply?.length : 0}}/{{work?.quantity}}
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <a class="btn btn-outline-primary" href="/work-list">
      Xem tất cả <strong>{{listWork.length}}</strong> công việc
    </a>
  </div>
</section>

<!-- Report Section -->
<app-report></app-report>

<!-- About Section-->
<section class="bg-light py-5" style="margin-bottom: 70px;">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Về chúng tôi</span></h2>
          <p class="lead fw-light mb-4">Chúng tôi cung cấp cho bạn giải pháp nơi để đăng ký và nhận việc làm thời vụ.</p>
          <p class="text-muted">Bạn là người muốn tìm việc làm thời vụ? Bạn là người tìm người làm việc nhà? Hãy đến với chúng tôi để
            chúng tôi có thể cung cấp cho bạn một môi trường tuyệt vời nhất!
          </p>
          <div class="d-flex justify-content-center fs-2 gap-4">
            <a class="text-gradient" href="#!"><nb-icon icon="twitter-outline"></nb-icon></a>
            <a class="text-gradient" href="#!"><nb-icon icon="linkedin-outline"></nb-icon></a>
            <a class="text-gradient" href="#!"><nb-icon icon="facebook-outline"></nb-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>