<div class="table-responsive material" >
    <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [scrollbarV]="false"
        [scrollbarH]="true"
        [footerHeight]="50" rowHeight="auto" [reorderable]="false" [selected]="selected" (select)="onSelect($event)"
         [selectionType]="SelectionType.checkbox">
       
    </ngx-datatable>
</div>

<ng-template #columnAction let-row="row" let-value="value" let-rowIndex="rowIndex">
    <button [ngStyle]="{'width.px':actionWidth}" type="button" mat-icon-button title="Action"
        [matMenuTriggerFor]="menuAction">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuAction="matMenu">
        <button mat-menu-item (click)="onClickEdit(row,rowIndex)">
            <mat-icon color="primary">edit</mat-icon>
            <span>Edit item</span>
        </button>

        
        <div>
            <ng-container *ngIf="customAction" [ngTemplateOutlet]="customAction"
                [ngTemplateOutletContext]="{row:row, rowIndex:rowIndex}">
            </ng-container>
        </div>
        <div>
            <ng-container *ngIf="customAction2" [ngTemplateOutlet]="customAction2"
                [ngTemplateOutletContext]="{row:row, rowIndex:rowIndex}">
            </ng-container>
        </div>
        <button mat-menu-item (click)="onClickDelete(row,rowIndex)">
            <mat-icon style="color: red;">delete</mat-icon>
            <span>Delete item</span>
        </button>
        <div>
            <ng-container *ngIf="customAction3" [ngTemplateOutlet]="customAction3"
                [ngTemplateOutletContext]="{row:row, rowIndex:rowIndex}">
            </ng-container>
        </div>
    </mat-menu>
    <!-- <div style="margin-top: -8px;">
      <button mat-icon-button class="mr-2" color="primary" (click)="onClickEdit(row,rowIndex)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button style="color: red;" (click)="onClickDelete(row,rowIndex)">
        <mat-icon>delete</mat-icon>
      </button>
    </div> -->
</ng-template>