header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.nav-item {
    margin-right: 15px;
}

.nav-item-icon {
    margin: 0 15px;
    font-size: 25px;
}

.fixed-content-nav {

}

.fixed-content-nav-user {
    background-color: #c2bdbd;
}