<div class="tab-pane show active" id="about-me">

    <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
        Lịch sử giao dịch</h5>

    <ul class="list-unstyled timeline-sm">
        <li *ngFor="let item of userPaymentHistories; index as i;" class="timeline-sm-item">
            <span class="timeline-sm-date">{{item.createdAt | datePipe}}</span>
            <h5 class="mt-0 mb-1">Mã công việc: {{item.workId}} </h5>
            <p>Số tiền đã thanh toán : <b> {{item.amount}} vnd </b></p>
        </li>
    </ul>

   <p> Quản lý các công việc đã tạo? <a href="/created-manage" style=" color: #0088CC; text-decoration: none;"> Click vào đây</a></p> 
   <p> Quản lý các công việc đã tham gia? <a href="/tasker-manage" style=" color: #0088CC; text-decoration: none;"> Click vào đây</a></p> 

</div>