img {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.one-line-text {
    display: -webkit-box;
    max-width: 274px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}