<div class="base-container">
    <app-toolbar (onRefresh)="refreshData($event)" (onDeletes)="onClickDeletes($event)" [selectedCout]="ngxTable?.selected.length"
    [addEditComponent]="addEditComponent" (addEvent)="successEventAdd($event)"></app-toolbar>
    <mat-divider></mat-divider>
    <app-ngx-table #ngxTableUser [columnsTable]="columns" (onRefresh)="refreshData($event)"
    [addEditComponent]="addEditComponent" (editEvent)="successEventEdit($event)" (onDelete)="onClickDelete($event)"></app-ngx-table>
</div>

<ng-template #workCell let-row="row">
    <b style="cursor: pointer;" matTooltip="Open work detail" (click)="openWorkDetail(row)">{{row?.workId}}</b>
</ng-template>